#!/usr/bin/env python

import sys, os, os.path, glob

# Point to cmdo library directory and cmdo.d directory.
# Can either point to an installed package or source.
srcCmdo  = "/more/projects/cmdo/trunk/cmdo"
srcCmdoD = "/more/projects/cmdo/trunk/cmdo.d"

dirTest  = os.path.split(os.path.splitext(os.path.abspath(sys.argv[0]))[0])[0]
dirLib   = os.path.join(dirTest, 'lib')
dirRoot  = os.path.split(dirTest)[0]
srcWndo  = os.path.join(dirRoot, 'lib')
srcWndoD = os.path.join(dirRoot, 'wndo.d')
tgtCmdoD = os.path.join(dirTest, 'cmdo.d')
tgtWndoD = os.path.join(dirTest, 'wndo.d')

def cmd(s):
    print s
    os.system(s)

cmd('rm -rf "%s"' % dirLib)
cmd('rm -rf "%s"' % tgtCmdoD)
cmd('rm -rf "%s"' % tgtWndoD)
cmd('mkdir "%s"'  % dirLib)
cmd('ln -sf "%s" %s/'     % (srcCmdo, dirLib))
cmd('ln -sf "%s" %s/wndo' % (srcWndo, dirLib))
cmd('ln -sf "%s" %s'      % (srcCmdoD, tgtCmdoD))
cmd('ln -sf "%s" %s'      % (srcWndoD, tgtWndoD))
